{% extends "base.html" %}
{% block body %}
<div class="row">
	<div class="col-lg-12">
		<h2>{{ perfil.nome }}</h2>
		<adress>
			<strong>
				{{ perfil.nome_empresa }}	
			</strong>
			<br>
			<abbrt title="Telefone">Tel.: </abbr> {{ perfil.telefone }} 
			<br>
			<a href="mailto:{{parfil.email}}">{{ perfil.email }}</a>
			
		</adress>
		<br>
		{% if ja_eh_contato %}
			<div class="well well-sm">
				Vocês estão conectados!
			</div>
		{% else %}
			<a href="{% url 'convidar' perfil.id%}">Convidar</a>
		{% endif %}
	</div>
</div>	
{% endblock %}